<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/shared/layout::dynamic(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:fragment="title">Đổi mật khẩu</title>
</head>

<body>
    <main th:fragment="main">

        <div class="container">
			<div class="row bg-success mb-3">
				<h2 class="text-center mt-1">Đổi Mật Khẩu</h2>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					
	
		<form action="/account/change-password" method="post">
			
			<div class="mb-3">
			  <label  class="form-label">Username:</label>
			  <input type="text" class="form-control"  aria-describedby="emailHelp" name="username">
			 
			</div>
			<div class="mb-3">
			  <label class="form-label">Password:</label>
			  <input  class="form-control"  name="password" type="password">
			</div>
			<div class="mb-3">
			  <label class="form-label">New Password:</label>
			  <input  class="form-control"  name="newpass" type="password">
			</div>
			<div class="mb-3">
			  <label class="form-label">Confirm New Password:</label>
			  <input  class="form-control"  name="confirm" >
			</div>
			
			<button  class="btn btn-primary">Change</button>
		  </form>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>

      
    </main>
</body>

</html>